container {
    height: 100vh; /* Set the container height to full viewport height */
    display: flex;
    flex-direction: column;
}

section {
    flex: 1; /* Each section will take equal vertical space */
    width: 100%; /* Each section will take full width */
    background-color: rgb(238, 238, 229);
}

section:nth-child(odd) {
    background-color: rgb(251, 254, 255);
}



