* { font-family: sans-serif; }

body {
    margin: 0; /* Remove default margin */
}

a {
    color: #404042; /* Set link color */
}

a:hover {
    color: #FF5020; /* Set hover color for links */
}

.margin-butt-A {
    margin-bottom: .6em; /* Add space below element */
} 


.logo {
    flex: 1; /* Take up available space */
    display: flex;
    align-items: center; /* Center vertically */
}



