.container {
    height: 100vh; /* Set the container height to full viewport height */
    display: flex;
    flex-direction: column;
}

section {
    flex: 1; /* Each section will take equal vertical space */
    width: 100%; /* Each section will take full width */
    background-color: rgb(238, 238, 229);
}

section:nth-child(odd) {
    background-color: rgb(251, 254, 255);
}

a {
    text-decoration: none; /* Remove underline from links */
    color: #404042; /* Set link color */
}

a:hover {
    color: #FF5020; /* Set hover color for links */
}


.logo {
    flex: 1; /* Take up available space */
    display: flex;
    align-items: center; /* Center vertically */
}

.search {
    flex: 1; /* Take up available space */
    display: flex;
    justify-content: flex-end; /* Align to the right */
    align-items: center; /* Center vertically */
}

.menu {
    flex: 1; /* Take up available space */
    display: flex;
    justify-content: center; /* Align to the middle */
    align-items: center; /* Center vertically */
}

.menu li {
    display: flex;
    flex-direction: row; /*column; Change to column flex */
    /* flex: 1;  Take up available space */
    list-style: none; /* Remove bullet points */
}

.menu li:hover {
    background-color: #f3f3f3; /* Set hover color for links */
}

.menu li a {
    flex: 1; /* Take up available space */
    text-align: center; /* Center text horizontally */
}


